/*----------------- Responsive ---------------------*/
@media (max-width: 1440px){
	
	.container,
	.prelative.container{
		max-width: 100%;
		width: auto;
		padding: 0 15px;
	}


	header.head.headers .prelative.d-none.d-sm-block .top-menu ul.list-inline li a{
		font-size: 18px;
	}
	header.head.headers .prelative.d-none.d-sm-block .info_head p.wa_call{
		font-size: 14px;
	}
	header.head.headers .prelative.d-none.d-sm-block .info_head .change_lang a,
	header.head.headers .prelative.d-none.d-sm-block .info_head .change_lang{
		font-size: 14px;
	}
	.outers_blog_thems .items_blog .desc p{
		font-size: 14px;
		font-weight: 500;
	}
	.outers_blog_thems .items_blog .desc.p-5{
		padding: 1.5rem !important;
	}

	h2.title-def,
	.homes-text h2, 
	.homes-text h2.title-def{
		font-size: 2.5rem;
	}

	footer.foot ul.menus_foot li a,
	footer.foot p.def{
		font-size: 15px;
	}

	footer.foot .t-copyrights p{
		font-size: 12px;
	}
	
}

@media (max-width: 1310px){


}

@media (max-width: 1280px){

	header.head.headers .prelative.d-none.d-sm-block .top-menu ul.list-inline li {
	    margin-right: 12px;
	}

	header.head.headers.morph .logo_heads,
	header.head.headers .logo_heads{
		a{
			display: block;
			max-width: 190px;
			margin: 0 auto;
			img{
				max-width: inherit;
			}
		}
	}
	header.head.headers.homes_head.morph .logo_heads img, 
	header.head.headers.morph .logo_heads img{
		max-width: inherit;
	}
	header.head.headers.homes_head.morph .logo_heads, 
	header.head.headers.morph .logo_heads {
	    padding-top: 1rem !important;
	}

	.outers_blog_thems .items_blog .desc p{
		font-size: 12px;
	}
	.outers_blog_thems .items_blog .desc .py-3{
		padding: 0.5rem 0 !important;
	}
	.outers_blog_thems .items_blog .desc a.btn.btns_bdefaults{
		font-size: 14px;
	}

}

@media (max-width: 1160px){
	
}

/* Large desktop */
@media (max-width : 1135px){

}

@media (max-width : 1080px) { 

	header.head.headers{
		height: auto;
	}

	header.head.headers .prelative.d-none.d-sm-block .top-menu ul.list-inline li a{
		font-size: 15px;
	}
	header.head.headers .prelative.d-none.d-sm-block .info_head p.wa_call{
		display: none;
	}

	section.insidespg-cover{
		background-position: center;
	}

	.content-text h5{
		font-size: 24px;
	}
	.content-text p{
		font-size: 17px;
	}
	section.about-sec-1{
		padding-bottom: 0 !important;
	}

	section.about-sec-2 .list-our-cultures-abt .items .infos h5{
		font-size: 22px;
	}
	section.about-sec-2 .list-our-cultures-abt .items .infos p{
		font-size: 16px;
		line-height: 1.4;
	}
	section.about-sec-2{
		min-height: 1505px;
	}

	.content-text h2.def-title{
		font-size: 2.5rem;
	}

	section.about-sec-3 .conts_about ol li, 
	section.about-sec-3 .conts_about p, 
	section.about-sec-3 .conts_about ul li{
		font-size: 16px;
	}

	header.head.headers.homes_head.morph .prelative.d-none.d-sm-block .top-menu ul.list-inline li a, header.head.headers.morph .prelative.d-none.d-sm-block .top-menu ul.list-inline li a{
		font-size: 15px !important;
	}

	.homes-text p{
		font-size: 16px;
	}
	.lists-def-banners-product .items .info p{
		font-size: 14.5px;
	}
	.lists-def-banners-product .items .info{
		padding: 0 1rem 2rem;
	}
	.lists-def-banners-product .items .info h4{
		font-size: 28px;
	}
	.lists-def-banners-product .items .info p{
		margin-bottom: 0;
	}
	a.btn.btns_bdefaults{
		font-size: 15px;
	}

	.lists_products_set_default .items .pict img{
		max-width: 100%;
	}
	.lists_products_set_default .items .info .bc_prices{
		font-size: 15px;
	}
	.lists_products_set_default .items{
		padding-bottom: 25px;
	}
	
}

@media (max-width : 1002px) { 
	
	.prelative.container,
	.container{
		width: 100%;
		border: none;
		padding: 0 15px !important;
	}
	.container.cont-fcs{
		padding-left: 0 !important;
		padding-right: 0 !important;
	}
	.navbar{
		margin: 0;
	}
	.navbar-toggle{
	}

}

@media (max-width : 991px) { 

}


@media (max-width: 992px) {

    .navbar-header {
        float: none;
    }
    .navbar-left,.navbar-right {
        float: none !important;
    }
    .navbar-toggle {
        display: block;
    }
    .navbar-collapse {
        border-top: 1px solid transparent;
        box-shadow: inset 0 1px 0 rgba(255,255,255,0.1);
    }
    .navbar-fixed-top {
        top: 0;
        border-width: 0 0 1px;
    }
    // .navbar-collapse.collapse {
    //     display: none!important;
    // }
    .navbar-nav {
        float: none!important;
        margin-top: 7.5px;
    }
    .navbar-nav>li {
        float: none;
    }
    .navbar-nav>li>a {
        padding-top: 10px;
        padding-bottom: 10px;
        color: rgba(0,0,0, 0.8); font-size: 14px; font-weight: 400;
    }
    .collapse.in{
        display:block !important;
    }

}

@media (max-width: 979px) {


}

/* Portrait tablet to landscape and desktop */
@media (min-width: 768px) and (max-width: 979px) {

}
	
 
/* Landscape phone to portrait tablet */
@media (max-width: 767px) {

	header.head.headers,
	header.head{
		height: auto;
		padding: 0 !important;
		.navbar{
			padding-top: 0.85rem;
			padding-bottom: 0.85rem;
			.navbar-nav>li>a{
				padding-top: 0.2rem;
				padding-bottom: 0.2rem;
				color: rgba(0,0,0, 0.75);
			}
			.navbar-nav>li:focus>a,
			.navbar-nav>li:hover>a{
				color: rgba(0,0,0, 0.95);
			}
		}
	}

	header.head.headers.morph{
		padding: 0 !important;
		// border-bottom-color: #a11435;
	}

	footer [class*="col-md"]{
		text-align: center;
	}

	.navbar-light .navbar-brand{
		max-width: inherit;
	}
	.navbar-light .navbar-toggler{
		padding: 0px;
		border: 0px;
		box-shadow: none;
	}
	.prelative.container{
		padding: 0 15px;
	}
	section.live-chat{
		display: none;
	}

	.fcs-wrapper.outers_fcs_wrapper.prelatife.wrapper-slide .container.cont-fcs .carousel-caption{
		position: relative;
		top: inherit;
		left: inherit; right: inherit;
		z-index: 7;
		background-color: #1b2440;
		.bxsl_tx_fcs{
			h3{
				font-size: 1.7rem;
			}
			p{
				font-size: 17px;
			}
			margin-bottom: 2.5rem;
		}
	}
	.fcs-wrapper.outers_fcs_wrapper.prelatife.wrapper-slide .container.cont-fcs .carousel-button-native{
		display: none;
	}
	.inner.py-5{
		padding: 1rem 0 !important;
	}
	section.home-section-1{
		.py-4.my-1{
			padding: 1rem 0 !important;
		}
	}
	.lists-def-banners-product{
		.items{
			margin-bottom: 1rem;
		}
	}

	.full-banner-def .desc_info {
	    position: relative;
	    background: #16234a;
	    padding: 2rem 1.5rem;
	    h3{
	    	font-size: 2.3rem;
	    }
	    p{
	    	font-size: 16px;
	    }
	}
	.full-banner-def.tx2 .desc_info{
	    padding: 2rem 1.5rem;
	    text-align: center !important;
	}
	.text-right{
		text-align: center !important;
	}
	.home-section-4 ul.listn_data_channel li{
		padding: 1rem 0.75rem;
		a{
			font-size: 13px;
			img{
				max-width: 20px;
			}
		}
	}
	footer.foot ul.menus_foot {
	    padding-top: 1.5rem;
	    justify-content: center;
	    text-align: center !important;
	    li{
	    	margin: 0;
	    	padding: 0 0.75rem;
	    }
	}
	footer.foot p{
		margin-bottom: 1.5rem;
	}
	footer.foot .b_social{
		max-width: 60%;
		justify-content: center;
		margin: 0 auto;
	}
	footer.foot .py-3{
		padding: 0.1rem 0 !important;
	}
	.t-copyrights.text-left{
		text-align: center !important;
		padding-bottom: 0.5rem;
	}
	section.insidespg-cover{
		height: 50vh;
	}

	.content-text h5 {
	    font-size: 20px;
	}
	.content-text p{
		font-size: 16px;
	}
	section.about-sec-2 .list-our-cultures-abt{
		.items{
			padding-bottom: 2rem;
		}
		padding-bottom: 2rem;
	}
	section.about-sec-2{
		padding-bottom: 0rem;
	}
	section.about-sec-2{
		background: #eae5df;
		min-height: inherit;
	}
	section.about-sec-3 .conts_about{
		.brn_right{
			border-right: 0;
			border-bottom: 1px solid #ccc;
			padding-bottom: 1rem;
			margin-bottom: 1rem;
		}
	}
	section.about-sec-3 .py-3{
		display: none;
	}
	section.product-sec-1 .tops_content{
		h2{
			font-size: 32px;
		}
		margin-bottom: 0 !important;
	}
	.text-right.backs_collect{
		text-align: left !important;
	}
	section.insidespg-cover .insides_intext h3{
		font-size: 35px;
		margin-bottom: 0 !important;
	}
	section.insidespg-cover .insides_intext p{
		font-size: 17px;
	}

	.fcs-wrapper.outers_fcs_wrapper.prelatife.wrapper-slide .container.cont-fcs .carousel-caption .bxsl_tx_fcs{
		a.btn.btns_bdefaults{
			font-size: 14px;
			padding: 0.5rem 1.45rem;
		}
	}

}

/* Landscape phone to portrait tablet */
@media (max-width: 600px) {

}

/* Landscape phones and down */
@media (max-width: 480px) {

}