@import url('https://fonts.googleapis.com/css?family=Rajdhani:wght:300,400,500,600,700,800&display=swap');

@rajdhani : 'Rajdhani', sans-serif;

html,body{
    position: relative;
    overflow-x: hidden;

    background: #ffffff;
    font-family: @rajdhani;
}

h1,h2,h3,h4,h5,h6,p,a, div{
    font-family: @rajdhani;
    margin-bottom: 0;
}

.prelative,
.prelatife{
    position: relative;
}

.container{
    padding: 0;
    max-width: 1420px;
    margin: 0 auto;
    position: relative;
}
@media screen and (max-width: 1400px) {
    
    .container{
        max-width: 100%;
        padding: 0 15px;
    }

}

.fcs-wrapper.outers_fcs_wrapper.prelatife.wrapper-slide{

    .container.cont-fcs{
      max-width: 100%;
      padding: 0;
      .carousel-item{
        background-size: cover; 
        img{
          background-repeat: no-repeat;
          background-size: cover;
          background-position: right center;
        }
      }
      .carousel-text{
        position: absolute;
        text-align: left;
        right: 0;
        left: 0;
        top: 50%;        
      }

      .carousel-button-native{
        position: absolute;
        width: 100%;
        bottom: 1%;
        ol.carousel-indicators{
          position: relative;
          max-width: inherit;
          margin: 0px;
          right: inherit;
          width: 100%;
          text-align: center;
          justify-content: center;

          li{
            background: #fff;
            width: 11px;
            height: 11px;
            cursor: pointer;
          }
          li.active{
            background: #22397e;
          }
          left: inherit;
        }
      }

      .carousel-caption{
        .bxsl_tx_fcs{
            h3{
                font-size: 41px;
                font-weight: 700;
                color: #fff;
                display: block;
                margin: 0; 
                margin-bottom: 0.5rem;
            }
            p{
                font-size: 20px;
                font-weight: 700; color: #fff;
            }
            max-width: 705px;
            margin: 0 0 5rem;
        }
        top: 30%;
        bottom: inherit;
        clear: both;
      }

    }
  }

.blocks_btn_to_scroll{
    position: absolute;
    bottom: 25px; left: 0;
    z-index: 25;
    width: 100%;
}

header.head.headers.homes_head.morph,
header.head.headers.morph{
    clear: both;
    .blues_head{
        background-color: #22397e;
    }
    .bg-white{
        background-color: #fff !important;   
    }
    .logo_heads{
        img{
            max-width: 265px;
        }
        padding-top: 0 !important;
    }
    .tops_iso{
        display: none;
    }
    .prelative.d-none.d-sm-block{
        padding-top: 0 !important;
        .top-menu{
            ul.list-inline{
                li{
                    a{
                        font-size: 18px !important;
                    }
                }
                list-style: none;
            }
        }

        .pt-3.mt-3{
            padding-top: 0.5rem !important;
            margin-top: 0 !important;
        }
    }
    // border-bottom: 5px solid #22397e;
    height: auto;
    background-color: #f5f5f5;
}

header.head.headers.homes_head{
     .blues_head{
        background-color: transparent;
     }
     .bg-white{
        background-color: transparent !important;
     }
}

header.head.headers{
    -webkit-transition: background .5s ease-in-out,padding .5s ease-in-out;
    -moz-transition: background .5s ease-in-out,padding .5s ease-in-out;
    transition: background .5s ease-in-out,padding .5s ease-in-out;
    transition-duration: 0.6s;

    height: auto;
    background-color: transparent;
    // padding-top: 1rem;
    // padding-bottom: 1.6rem;

    .blues_head{
        background-color: #22397e;
    }
    .prelative.d-none.d-sm-block{
        .logo_heads{
            img.img.img-fluid{
                // width: 83%;
            }
        }
        .top-menu{
            ul.list-inline{
                margin: 0;
                li{
                    a{
                        font-size: 20px;
                        font-weight: 700;
                        color: #fff; 
                    }
                    margin-right: 30px;
                }
                li:last-child{
                    margin-right: 0;
                }
                li.active,
                li:hover{
                    a{
                        color: #f5f5f5;
                        text-decoration: none;
                    }
                }
            }
        }

        .info_head{
            p.wa_call{
                margin: 0;
                font-size: 15px; font-weight: 700;
                color: #fff;
                a{
                    color: #fff;
                    text-decoration: none;
                }
            }
            .change_lang{
                font-size: 15px; font-weight: 700;
                color: #fff;
                a{
                    text-decoration: none;
                    font-size: 15px; font-weight: 700;
                    color: #fff;
                }
            }
            clear: both;
        }
        clear: both;
    }


    clear: both;
}

.spacers_inside{
    height: 80px;
    display: block;
}

a.btn.btns_bdefaults{
    background: none;
    box-shadow: none;
    outline: none;
    border-radius: 0;
    border: 1px solid #22397e;

    background-color: #22397e;
    padding: 0.5rem 1.75rem;
    text-align: left;

    font-size: 18px;
    font-weight: 600;
    color: #fff;
}
a.btn.btns_bdefaults:hover,
a.btn.btns_bdefaults:focus{
    background-color: #132660;
    color: #fff;
    text-decoration: none;
}
a.btn.btns_bdefaults.back-trans-border{
    background-color: transparent;
    border-color: #fff;
}
a.btn.btns_bdefaults.back-trans-border:hover,
a.btn.btns_bdefaults.back-trans-border:focus{
    background-color: rgba(255,255,255, 0.1);
    border-color: #fff;   
}

.clearfix,
.clear{
    clear: both;
}

.homes-text{
    h2, h5{
        display: block;
        margin: 0; padding: 0; line-height: 1.4;
    }
    h1, h2, h3, h4, h5, h6, span, p{
        font-family: @rajdhani;
    }
    h2.title-def,
    h2{
        margin-bottom: 0.5rem;
        display: block; 
        line-height: 1.2;
        
        font-size: 58px; font-weight: 700; color: #22397e;
    }
    h2.title-def.color-white{
        color: #fff;
    }
    h5{
        font-size: 20px; font-weight: 700; color: #22397e;
    }
    h6{
        font-size: 18px; font-weight: 700; color: #22397e;
        line-height: 1.6;
        display: block;
    }

    p{
        font-size: 19px; font-weight: 600; color: #707070;
        line-height: 1.6;
    }
}

.lists-def-banners-product{
    .items{
        .picture{
            img{}
        }
        .info{
            h4, p{
                display: block;
                margin: 0; padding: 0;
                line-height: 1.3;
                max-width: 310px;
                margin: 0 auto;
                margin-bottom: 1.2rem;
            }
            h4{
                font-size: 35px;
                font-weight: 700;
                color: #fff;
                line-height: 1.15;
            }
            p{
                font-size: 17.5px;
                font-weight: 600;
                color: #fff;
                line-height: 1.4;
            }

            position: absolute;
            bottom: 0;
            left: 0; width: 100%;
            min-height: 200px; z-index: 15;
            padding-bottom: 70px;
        }
    }
    clear: both;
}

.full-banner-def{
    img{}
    position: relative;
    height: auto;
    overflow: hidden;

    .desc_info{
        position: absolute;
        z-index: 12;

        display: table;
        width: 100%;
        height: 100%;
        top: 0; left: 0;
        vertical-align: middle;
        .in_table{
            display: table-cell;
            height: 100%;
            vertical-align: middle;
            width: 100% ; 
        }

        h3, p{
            display: block;
            margin: 0; padding: 0;
            line-height: 1.3;
            margin: 0 auto;
            margin-bottom: 1.2rem;
            max-width: 465px;
        }
        h3{
            font-size: 58px;
            font-weight: 700; color: #fff;
        }
        p{
            font-size: 21px;
            font-weight: 600; color: #fff;
        }
    }
    clear: both;
}
.full-banner-def.tx2{
    .desc_info{
        display: block;

        .in_table{
            display: block;
            vertical-align: bottom;
            height: auto;
            height: auto;
        }
        top: inherit;
        bottom: 0;
        padding-left: 105px;
        padding-bottom: 55px;
        height: auto;
        h3, p{
            margin: 0 0 0.5rem;
        }
        h3{
            font-size: 29px;
            margin-bottom: 0.2rem;
        }
        p{
            font-size: 19px;
        }
    }
}

.home-section-4{
    h2.title-def{
        font-size: 40px;
    }

    ul.listn_data_channel{
        li{
            a{
                img{
                    margin-bottom: 0.25rem;
                }
                font-size: 17px; 
                font-weight: 600; 
                color: #737373;
            }
            a:hover,
            a:focus{
                text-decoration: none;
                color: #494949;
            }
            padding: 1rem 2rem;
            margin: 0;
            border-right: 1px solid #d5d5d5;
            display: inline-block;
        }
        li:last-child{
            border-right: 0;
        }
        .list-inline-item:not(:last-child){
            margin-right: 0;
        }
        margin: 0;
    }
    clear: both;
}

.bg-blues{
    background-color: #22397e;
}

section.live-chat {
    position: fixed;
    right: 15px;
    top: 60%;
    z-index: 4;
    .live{
        a:hover,
        a:focus{
            opacity: 0.9;
        }
    }
}

.nfoot_mob_wa {
    position: fixed;
    bottom: 0px;
    left: 0px;
    z-index: 150;
    width: 100%;
    background-color: #f5f5f5;
    .nx_button {
        text-align: center;
        padding: 0.5rem 0;
        border-top: 1px solid #ccc;
        a {
            color: #000;
            font-size: 16px;
            font-weight: 400;
            i.fa {
                color: green;
            }
        }
    }
}

#back-top {
    color: #FFF;
    background: #FFF;
    font-size: 20px;
    line-height: 100%;
    position: fixed;
    z-index: 500;
    right: 0;
    bottom: 0;
    width: 35px;
    height: 35px;
    text-align: center;
    top: inherit!important;
    border: 1px solid #c5c5c5;
    border-right: 0;
    border-bottom: 0;
    display: none;
    i.fa {
        color: #565656;
    }
}

.container.cont-footer{
    max-width: 1093px;
}
footer.foot{
    background-color: #22397e;
    padding: 50px 0 25px;
    p{
        font-size: 14px;
        font-weight: 500;
        color: #d2d2d2;
        b,strong{
            font-size: 17px;
            font-weight: 600;
            color: #d2d2d2;
        }
        a{
            text-decoration: none;
            color: #d2d2d2;
        }
    }
    p.def{
        font-size: 16px;
        strong, b{
            font-size: 20px;
        }
    }
    .lines-white{
        width: 100%;
        height: 1px;
        background-color: rgba(255,255,255, 0.5);
    }

    ul.menus_foot{
        li{
            a{
                font-size: 17px; font-weight: 700; color: #fff;
            }
            padding: 0;  margin: 0;
            margin-right: 23px;
        }
        li:focus,
        li:hover{
            a{
                color: rgba(255,255,255, 0.75);
                text-decoration: none;
            }
        }
        li:last-child{
            margin-right: 0;
        }
        padding-top: 0.5rem;
    }

    .t-copyrights{
        p{
            font-size: 14px;
            font-weight: 500;
            color: #d2d2d2;
            a{
                text-decoration: none;
                color: #d2d2d2;
            }
        }
    }
    clear: both;
}

a.views_n_allblog{
    font-size: 18px;
    font-weight: 600;
    color: #22397e;
    background-color: #fff;
    text-decoration: none;
    border-radius: 0;
}
a.views_n_allblog:hover,
a.views_n_allblog:focus{
    text-decoration: none;
    background-color: #f5f5f5;
    color: #22397e;
}

.outers_blog_thems{
    .items_blog{
        .pict{}
        .desc{
            h3, p{
                display: block; line-height: 1.35;
                margin: 0; padding: 0;
            }
            h3{
                font-size: 20px;
                font-weight: 600;
                color: #494949;
            }
            p{
                font-size: 17px;
                font-weight: 600;
                color: #737373;   
            }
        }
    }
    clear: both;
}

@import 'subpage.less';
@import 'n_media_styles.less';