@rajdhani : 'Rajdhani', sans-serif;

.holdes_top{
	display: block;
	position: relative;
	height: 130px;
	width: 100%;
}
section.insidespg-cover{
	background-size: cover;
	width: 100%;
	height: 100vh;
	display: table;
	vertical-align: middle;
	.inner_table{
		display: table-cell;
		vertical-align: middle;
		width: 100%; 
		height: 100%;
	}
}

a:hover,
a:focus{
	text-decoration: none;
}

section.insidespg-cover {
	.insides_intext{
		h3{
			font-family: @rajdhani;
			font-size: 58px; font-weight: 700; color: #fff; line-height: 1;
			margin-bottom: 0.5rem;
		}
		p{
			font-family: @rajdhani;
			font-size: 21px; font-weight: 600; color: #fff;
			line-height: 1.35;
		}

		max-width: 455px;
		margin: 0 auto;
		display: block; 
		clear: both;
	}
	clear: both;
}

section.about-sec-1{
	// min-height: 519px; 
	height: auto;
	width: 100%;
	min-height: 500px; height: auto;
	background-color: #fdfcfa;
} 

.inners_form_contact{
	.tl-contact-form{
		.form-group{
			label{

			}
			input,
			textarea{
				font-size: 16px; font-weight: 700; color: rgba(85,85,85, 0.5);
				border: 0px; border-radius: 0px;
				border-bottom: 1px solid #999999;
			}
			input{}
		}
		button{
			position: relative;
			background: url('../images/new/backs_btn_contact_ll.png') no-repeat;
			background-size: cover;
			width: 163px; height: 41px;
		}
	}
}

section.about-sec-2{
	position: relative;
	z-index: 3;

	width: 100%;
	min-height: 1930px;
	height: auto;
	background: url('../images/about-backs_nmiddles.jpg') top center no-repeat;
	background-size: cover;
	
	.list-our-cultures-abt{
		.items{
			.pict{
				img{}
			}
			.infos{
				padding-top: 1.5rem;
				h5, p{
					display: block;
					margin: 0; padding: 0;
					line-height: 1.3;
				}
				h5{
					margin-bottom: 0.4rem;
					font-size: 29px;
					font-weight: 600; color: #22397e;
				}
				p{
					font-size: 19px;
					font-weight: 600; 
					color: #767676;
					line-height: 1.45;
				}
			}
			clear: both;
		}
		clear: both;
	}
}

section.about-sec-3{
	.conts_about{
		max-width: 1110px;
		display: block;
		margin: 0 auto;
		.brn_right{
			border-right: 1px solid #ccc;
		}

		ol li,
		ul li,
		p{
			display: block;
			margin: 0;
			font-size: 19px;
			font-weight: 400;
			color: #767676;
			line-height: 1.4;
		}
	}
}

section.contact-sec-1,
section.partner-sec-1{
	.bloc_call_wa{
		p{
			font-size: 25px;
			font-weight: 500;
			color: #6d6d6d;
			a{
				font-size: 20px; font-weight: 700;
				color: #6d6d6d;
			}
			a:hover,
			a:focus{
				text-decoration: none;
				color: #000;
			}
			display: block;
			line-height: 1.3;
			margin-bottom: 0;
		}
	}
	.contacts_ond{
		p{
			b,strong{
				color: #22397e;
				font-weight: 700;
			}
			a.view_map{
				font-size: 15px;
				font-weight: 600;
				color: #767676;
				text-decoration: underline;
			}
			a.view_map:hover,
			a.view_map:focus{
				text-decoration: none;
				color: #767676;
			}
			font-size: 19px;
			font-weight: 600;
			color: #767676;
			line-height: 1.4;
		}
	}
	clear: both;
}

p.bloc_sortby{
	font-size: 19px;
	font-weight: 500;
	color: #707070;
	b,strong{
		font-weight: 700;
		color: #707070;
	}
	a{
		font-size: 19px;
		font-weight: 500;
		color: #707070;
		text-decoration: none;
	}
	a:hover,
	a:focus{
		color: #2C2C2C;
	}
}

.lists_products_set_default{
	.items{
		.pict{
			img{
				max-width: 264px;
			}
		}
		.info{
			h4, p{
				display: block; line-height: 1.25;
				margin: 0; padding: 0;
			}
			h4{
				font-size: 20px; font-weight: 600;
				color: #707070;
			}
			p{
				font-size: 15px; font-weight: 600;
				color: #707070;
			}
			.bc_prices{
				font-size: 20px; font-weight: 600;
				color: #22397e;
			}
			padding-top: 15px;
		}
		padding-bottom: 35px;
		clear: both;
	}
	clear: both;
}

section.product-sec-1{
	.tops_content{
		h6{
			font-size: 29px;
			font-weight: 700;
			color: #22397e;
		}
		h2{
			font-size: 45px;
			font-weight: 700;
			color: #22397e;
		}
	}
}

.lefts_filter_content{
	h6{
		font-size: 20px;
		font-weight: 600;
		color: #22397e;
	}
	.lefts_mnu{
		ul{
			li{
				a{
					font-size: 16px;
					font-weight: 600;
					color: #22397e;
				}
				ul{
					li{
						a{
							font-size: 16px; font-weight: 600;
							color: #6c6c6c;
						}
					}
					list-style: none;
					margin: 0; padding: 0;
				}
			}
		}

		a:focus,
		a:hover{
			text-decoration: none;
		}
		clear: both;
	}
	clear: both;
}

section.quality-sec-1{
	background: url('.../images/backs_mid_quality_sec.jpg') top center repeat-x;
	min-height: 1200px; height: auto; width: 100%;
	clear: both;
}

section.quality-sec-2{
	background: url('../images/backs_outer_quality_btm_blue.jpg') top center repeat-x;
	min-height: 1200px; height: auto; width: 100%;
	.content-text{
		h2.def-title{
			color: #fff;
		}
		h5{
			color: #fff;
			margin-bottom: 0.5rem;
			font-weight: 600;
			font-size: 29px;
		}
		p{
			color: #fff;
			font-size: 19px;
			font-weight: 400;
		}

		.maw40pers{
			p{
				font-size: 20px;
				font-weight: 600;
				color: #767676;
			}
			p.names{
				font-size: 16px;
				font-weight: 700;
				color: #767676;
			}
			max-width: 650px;
		}
	}
	clear: both;
}

.boxeds_product_detail{
	max-width: 1180px;
	display: block;
	margin: 0 auto;

	.picture{
		img{}
	}
	.description{
		h4, h6{
			display: block;
			margin: 0; padding: 0;
			line-height: 1.1;
		}
		h4{
			font-size: 34px;
			font-weight: 600;
			color: #22397e;
		}
		h6{
			font-size: 20px;
			font-weight: 600;
			color: #707070;
		}
		clear: both;
		.sub_section{
			h6{
				font-size: 18px; font-weight: 700;
				color: #707070;
			}
			p{
				font-size: 18px;
				font-weight: 500;
				color: #707070;
			}
			.blues{
				color: #22397e;
			}
			font-size: 18px;
			font-weight: 500;
			color: #707070;

			margin-bottom: 1.5rem;
			clear: both;
		}
		clear: both;
	}
	clear: both;
}

section.product-sec-2{
	background-color: #f4f4f4;
	.tops_other{
		h5{
			font-size: 25px;
			font-weight: 700;
			color: #22397e; 
		}
	}
	clear: both;
}
.backs_collect{
	a{
		font-size: 18px;
		font-weight: 700;
		color: #22397e;
		text-decoration: none;
	}
}

.lists_blogs_set{
	.items{
		.pict{
			img{
			}
		}
		.info{
			h4, p{
				display: block; line-height: 1.25;
				margin: 0; padding: 0;
			}
			h4{
				font-size: 20px; font-weight: 700;
				color: #707070;
			}

			a.link-blogs{
				font-size: 18px; font-weight: 700;
				color: #22397e;
			}
			padding-top: 15px;
		}
		padding-bottom: 35px;
		clear: both;
	}
	clear: both;
}

.boxeds_blog_detail{
	max-width: 920px;
	display: block;
	margin: 0 auto;
	
	h1.title-article{
		font-size: 25px; font-weight: 700;
		color: #22397e;
		padding-bottom: 1rem;
	}

	ul li,
	ol li,
	p{
		font-size: 18px;
		font-weight: 500;
		color: #525252;
	}
	p{
		margin-bottom: 1.5rem;
	}
	clear: both;
}

.content-text{
	h1, h2, h3, h4, h5{
		display: block;
		margin: 0; padding: 0;
		line-height: 1.35;
		font-family: @rajdhani;
		margin-bottom: 1.45rem;
	}
	h1{}
	h2{}
	h3{}
	h4{}
	h2.def-title{
		font-size: 58px;
		font-weight: 700;
		color: #22397e;
	}
	h5{
		font-size: 29px;
		font-weight: 600;
		color: #22397e;
	}
	p{
		font-family: @rajdhani;
		font-size: 19px;
		font-weight: 600;
		color: #767676;
		line-height: 1.5;

		margin-bottom: 1.45em;
		a{
			text-decoration: none;
			font-size: 15px;
			font-weight: 400;
			color: #c90101;
		}
	}

	ul{
		li{
			font-size: 18px;
			font-weight: 600;
			color: #767676;
		}
	}

}

.blocks_left_pictprd{
	.picture{
		img{
			border: 1px solid #ececec;
		}
	}
	.pct_thumbs{

		margin-top: 1.5rem;

		ul{
			li{
				img{}
				border: 1px solid #ececec;
				max-width: 110px;
				cursor: pointer;
			}
			clear: both;
		}
		clear: both;
	}
	clear: both;
}